.searchBarFull {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.searchBarFull input {
    border-radius: 3px;
    background-color: rgb(238, 238, 238);
    border: 2px solid rgb(216, 216, 216);
    padding: 2px;
    color: rgb(126, 126, 126);
}

.logoImage {
    width: 100px;}

.socialSelection {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    width: 300px;
}

.socialSelection .social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}