.searchBarFull {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(212, 212, 212);
}

.searchBarFull input {
    border-radius: 3px;
    background-color: rgb(247, 247, 247);
    border: 2px solid rgb(231, 231, 231);
    padding: 2px;
    color: rgb(231, 231, 231);
    width: 225px;
    text-align: center;
}

.imageContain {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 15%;
}

.logoImage {
    width: 100%;
}

.img2 {
    width: 200px;
    max-height: 70px;
    padding-left: 10px;
    border-left: 1px solid rgb(204, 204, 204);
}

.img1 {
    width: 70px;
    max-height: 70px;
    margin: 0px 3%;
    padding-right: 10px;
}

.cameraLogo {
    width: 100%;
}

.socialSection {
    display: flex;
    width: 15%;
}

.socialSection .social {
    width: 100%;
    height: 100%;
}

.socialSection .social img {
    width: 25px;
    height: 25px;
}